:root {
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111;

  background: radial-gradient(1200px 600px at 20% 10%, #f0f4ff 0%, transparent 60%),
    radial-gradient(900px 500px at 80% 20%, #ffeef2 0%, transparent 55%),
    radial-gradient(1000px 700px at 50% 90%, #f3fff5 0%, transparent 60%),
    #ffffff;
}

button,
input,
select,
textarea {
  font: inherit;
}
